@page "/credits"
@rendermode InteractiveServer

<PageTitle>Credits</PageTitle>

<h1>Credits</h1>

<p>
    Author:<a href="https://github.com/ayramatao" target="_blank"> Ayramatao</a>
    <br>
    Co author:<a href="https://github.com/JorgenMJobloop?tab=repositories" target="_blank"> JorgenMJobloop</a>
</p>
